body {
    font-size: 16px;
    background-color: rgb(3, 37, 37);
    font-family: "Segoe UI", "Helvetica Neue", Arial, sans-serif;
   
    }

    nav{
        background-color: darkslategray;
        width:100%;
       
        text-align: center;

    }

    p{
        color: white;
        text-align: center;
    }
   

   #content{

   
       font-size: 25px;
       margin: 5% 10%;
       color: white ;
       background-color: rgb(3, 37, 37);
       text-align: center;
       
   }
    h3{
        color: white;
        text-align: center;
        font-size: 40px;
        margin-top: 10px;
        background-color: rgb(3, 37, 37);
        
        
      
    }
    #edit{
        font-size: 10px;
        padding: 1%;
        color: white;
    }
    #delete{
        font-size: 10px;
        color: white;
      
    }

    #moreBlogs{
        text-align: center;
        padding-left: 500px;
      
    }
    img{
        padding-top: 50px;
       padding-left: 475px; 
    align: center;
    }
   
    footer{
        background-color: rgb(3, 37, 37);
       color: white;
        margin: 50px auto auto;
        
    }

  
     nav a{
        text-align: center;
        font-size: x-large;
        padding: 5%;
       color: white;
      
    }

    #blogcontent{
        padding-top: 200px;
    }
  
    #blogHead{
        margin-top: 50px;
        color: white;
        text-align: center;
    }
   
    h2 {
    text-align: center;
    text-decoration: underline;
    color: whitesmoke;
    }
    form {
    width: 300px;
    background:rgb(3, 37, 37);
    padding: 15px 40px 40px;
    border: 1px solid #ccc;
    margin: 50px auto 0;
    border-radius: 5px;
    }
    label {
    display: block;
    margin-bottom: 5px;
    color: white;
    
    }
    label i {
    color: #999;
    font-size: 80%;
    }
    input, select {
    border: 1px solid #ccc;
    padding: 10px;
    display: block;
    width: 100%;
    box-sizing: border-box;
    border-radius: 2px;
    }

    #free{
        color: white;
        text-align: center;
        padding: 1%;
        font-size: 30px;
    }
    #inputM{
        height: 100px;
        text-align: left;
        text-orientation: sideways;
        width: 100%;
       
    }
    .row {
    padding-bottom: 10px;
    }
    .form-inline {
    border: 1px solid #ccc;
    padding: 8px 10px 4px;
    border-radius: 2px;
    }
    .form-inline label, .form-inline input {
    display: inline-block;
    width: auto;
    padding-right: 15px;
    }
    .error {
    color: red;
    font-size: 90%;
    }
    input[type="submit"] {
    font-size: 110%;
    font-weight: 100;
    background:darkslategray;
    border-color:white;
    box-shadow: 0 3px 0 white;
    color: #fff;
    margin-top: 10px;
    cursor: pointer;
    }
    input[type="submit"]:hover {
    background:green;
    }